html {
  background-color: #ffe6ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: #ffa5ff;
  width: 350px;
  height: 590px;
  padding: 12px;
  border-radius: 1em;
  margin: 100px;
}

.keyboard {
  margin-top: 5px;
  padding: 5px;
}

.display {
  height: 120px;
  margin: 4px;
  margin-bottom: 6px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 5px;
  border: none;
  text-align: right;
}

h3 {
  color: #ffffff;
  font-size: 60px;
  padding: 2px;
  margin-top: 10px;
}

button {
  font-size: 25px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: none;
  margin: 5px;
}

#double_button {
  font-size: 27px;
  width: 160px;
  text-align: left;
  padding-left: 30px;
}

.special_buttons {
  background-color: #ff26aa;
  color: #ffffff;
}

.operator_buttons {
  background-color: #d619f8;
  color: #ffffff;
}

.number_buttons {
  background-color: #eb2ce2;
  color: #ffffff;
}

footer {
  font-size: 18px;
  margin: 80px;
}
